@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family-sans: 'Inter', sans-serif;
  --font-family-mono: 'JetBrains Mono', monospace;

  --dark-primary-color: hsl(30, 100%, 50%);
  --light-primary-color: hsl(240, 80%, 50%);

  --dark-foreground-primary-color: hsl(30, 100%, 10%);
  --light-foreground-primary-color: hsl(240, 100%, 10%);

  --dark-background-primary-color: hsl(30, 100%, 100%);
  --light-background-primary-color: hsl(240, 100%, 100%);

  --dark-border-primary-color: hsl(48, 17%, 8%);
  --light-border-primary-color: hsl(60, 14%, 34%);

  --dark-button-foreground-primary-color: hsl(30, 100%, 0%);
  --light-button-foreground-primary-color: hsl(240, 80%, 50%);

  --dark-button-background-primary-color: hsl(40, 100%, 50%);
  --light-button-background-primary-color: hsl(240, 100%, 100%);
}

@layer base {
  h1 {
    @apply text-heading-1;
  }
  h2 {
    @apply text-heading-2;
  }
  h3 {
    @apply text-heading-3;
  }
  h4 {
    @apply text-heading-3;
  }
  h5 {
    @apply text-heading-5;
  }
  h6 {
    @apply text-heading-6;
  }
}

@layer utilities {
  .light-border {
    @apply border-solid;
    @apply border-[1px];
    @apply border-light-border-primary;
  }

  .dark-border {
    @apply border-solid;
    @apply border-[1px];
    @apply border-dark-border-primary;
  }

  .dark-text-shadow {
    @apply font-thin;
    text-shadow: var(--dark-primary-color) 1px 0 10px;
  }

  .light-text-shadow {
    @apply font-thin;
    text-shadow: var(--light-primary-color) 1px 0 10px;
  }
}
